<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HandleLogin</servlet-name>
        <servlet-class>controller.HandleLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleHomePage</servlet-name>
        <servlet-class>controller.HandleHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleSignup</servlet-name>
        <servlet-class>controller.HandleSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleForgotPassword</servlet-name>
        <servlet-class>controller.HandleForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleResetPassword</servlet-name>
        <servlet-class>controller.HandleResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleProductDetail</servlet-name>
        <servlet-class>controller.HandleProductDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleHomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleSignup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleForgotPassword</servlet-name>
        <url-pattern>/forgot-passwor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleResetPassword</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleProductDetail</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.HandleForgotPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
</web-app>
